<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515094988785-k70f4o8is3vsmj52jfddppt6u09neiui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515094988785-k70f4o8is3vsmj52jfddppt6u09neiui</string>
	<key>API_KEY</key>
	<string>AIzaSyDyIxbC1zHM_Ht_3oCZUYr2fBFZMu_LxFU</string>
	<key>GCM_SENDER_ID</key>
	<string>515094988785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andystefani.DemoForFirebase</string>
	<key>PROJECT_ID</key>
	<string>newfirebasedemo-e2008</string>
	<key>STORAGE_BUCKET</key>
	<string>newfirebasedemo-e2008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515094988785:ios:e2a8e9d221ef49c521a650</string>
</dict>
</plist>